$flag: (
  height: 14px,
  width:  20px,
  cols:   15,
  rows:   18
) !default;

$flags-image-width:        (map-get($flag, 'width') * map-get($flag, 'cols'));
$flags-image-height:       (map-get($flag, 'height') * map-get($flag, 'rows'));
$flags: (
  'mauritius', 'cyprus', 'austria', 'oman', 'ethiopia', 'tanzania', 'estonia', 'nicaragua', 'uganda', 'slovenia', 'zimbabwe', 'sao-tome-and-prince', 'italy', 'wales', 'el-salvador',
  'nepal', 'christmas-island', 'lebanon', 'ceuta', 'iraq', 'cook-islands', 'syria', 'cocos-island', 'honduras', 'anguilla', 'american-samoa', 'puerto-rico', 'comoros', 'north-korea', 'corsica',
  'zambia', 'saint-kitts-and-nevis', 'china', 'luxembourg', 'central-african-republic', 'jamaica', 'cape-verde', 'monaco', 'bhutan', 'paraguay', 'aruba', 'montserrat', 'latvia', 'andorra', 'micronesia',
  'dominican-republic', 'abkhazia', 'tunisia', 'mauritania', 'cayman-islands', 'kosovo', 'ghana', 'canary-islands', 'scotland', 'guinea-bissau', 'burundi', 'myanmar', 'gabon', 'benin', 'saba-island',
  'namibia', 'japan', 'lithuania', 'eritrea', 'chad', 'kenya', 'djibouti', 'british-indian-ocean-territory', 'tuvalu', 'serbia', 'bonaire', 'togo', 'kazakhstan', 'antigua-and-barbuda', 'suriname',
  'jordan', 'belize', 'st-barts', 'iceland', 'bermuda', 'united-nations', 'somalia', 'barbados', 'solomon-islands', 'nigeria', 'aland-islands', 'uruguay', 'sint-maarten', 'burkina-faso', 'slovakia',
  'sierra-leone', 'basque-country', 'south-korea', 'pitcairn-islands', 'mozambique', 'san-marino', 'guatemala', 'albania', 'pakistan', 'northern-cyprus', 'balearic-islands', 'marshall-island', 'ecuador', 'cameroon', 'panama',
  'kwait', 'armenia', 'romania', 'guinea', 'afghanistan', 'laos', 'greenland', 'british-virgin-islands', 'hungary', 'curacao', 'angola', 'malasya', 'brunei', 'bahamas', 'new-zealand',
  'faroe-islands', 'british-columbia', 'vatican-city', 'finland', 'botswana', 'sri-lanka', 'spain', 'ossetia', 'sicily', 'chile', 'bosnia-and-herzegovina', 'saudi-arabia', 'liechtenstein', 'belarus', 'iran',
  'fiji', 'bahrain', 'venezuela', 'east-timor', 'azerbaijan', 'tibet', 'norway', 'algeria', 'ukraine', 'gambia', 'bangladesh', 'madeira', 'czech-republic', 'bolivia', 'united-arab-emirates',
  'kyrgyzstan', 'cuba', 'swaziland', 'israel', 'costa-rica', 'republic-of-the-congo', 'egypt', 'cambodia', 'northern-marianas-islands', 'ivory-coast', 'germany', 'papua-new-guinea', 'croatia', 'belgium', 'morocco',
  'macao', 'bulgaria', 'liberia', 'greece', 'galapagos-islands', 'st-lucia', 'mali', 'denmark', 'rapa-nui', 'lesotho', 'colombia', 'palau', 'ireland', 'french-polynesia', 'trinidad-and-tobago',
  'niue', 'hong-kong', 'sweden', 'haiti', 'dominica', 'vanuatu', 'peru', 'equatorial-guinea', 'uzbekistn', 'tonga', 'philippines', 'norfolk-island', 'malta', 'france', 'tajikistan',
  'melilla', 'argentina', 'sudan', 'south-africa', 'martinique', 'taiwan', 'sahrawi-arab-democratic-republic', 'guernsey', 'switzerland', 'rwanda', 'guam', 'palestine', 'indonesia', 'grenada', 'poland',
  'moldova', 'gibraltar', 'malawi', 'falkland-islands', 'england', 'virgin-islands', 'turkey', 'isle-of-man', 'vietnam', 'tuvalu', 'niger', 'turks-and-caicos', 'portugal', 'maldives', 'senegal',
  'nauru', 'turkmenistan', 'singapore', 'libya', 'yemen', 'transnistria', 'australia', 'tokelau', 'republic-of-macedonia', 'netherlands', 'thailand', 'montenegro', 'azores-islands', 'st-vincent-and-the-grenadines', 'madagascar',
  'canada', 'south-sudan', 'jersey', 'india', 'somaliland', 'russia', 'democratic-republic-of-congo', 'sint-eustatius', 'samoa', 'mexico', 'seychelles', 'nato', 'brazil', 'georgia', 'sardinia',
  'mongolia', 'european-union', 'united-kingdom', 'kiribati', 'hawaii', 'world', 'africa', 'north-america', 'south-america', 'australia-and-oceania', 'europe', 'asia', 'chinese-taipei'
);

.flag {
  background: #eee url('flags.png') no-repeat ($flags-image-width * -1) ($flags-image-height * -1);
  background-size: $flags-image-width $flags-image-height;
  display: inline-block;
  height: map-get($flag, 'height');
  left: 5px;
  margin-top: ceil(map-get($flag, 'height') / -2);
  position: absolute;
  top: 50%;
  width: map-get($flag, 'width');

  @for $i from 1 through length($flags) {
    $row: 0;

    @if $i > map-get($flag, 'cols') {
      $row: (map-get($flag, 'height') * floor(($i - 1) / map-get($flag, 'cols')));
    }

    &-#{nth($flags, $i)} {
      background-position: ((map-get($flag, 'width') * (($i - 1) % map-get($flag, 'cols'))) * -1) ($row * -1);
    } // END .flag-*
  }

} // END .flag;