$flag: (
  background:      #f5f5f5,
  height:          14px,
  width:           20px,
  cols:            15,
  rows:            18
) !default;

$flags-image-width:        (map-get($flag, 'width') * map-get($flag, 'cols'));
$flags-image-height:       (map-get($flag, 'height') * map-get($flag, 'rows'));
$flags: (
  'mauritius, &-mu, &-mus',
  'cyprus, &-cy, &-cyp',
  'austria, &-at, &-aut',
  'oman, &-om, &-omn',
  'ethiopia, &-et, &-eth',
  'tanzania, &-tz, &-tza',
  'estonia, &-ee, &-est',
  'nicaragua, &-ni, &-nic',
  'uganda, &-ug, &-uga',
  'slovenia, &-si, &-svn',
  'zimbabwe, &-zw, &-zwe',
  'sao-tome-and-prince, &-st, &-stp',
  'italy, &-it, &-ita',
  'wales',
  'el-salvador, &-sv, &-slv',
  'nepal, &-np, &-npl',
  'christmas-island, &-cx, &-cxr',
  'lebanon, &-lb, &-lbn',
  'ceuta',
  'iraq, &-iq, &-irq',
  'cook-islands, &-ck, &-cok',
  'syria, &-sy, &-syr',
  'cocos-islands, &-cc, &-cck',
  'honduras, &-hn, &-hnd',
  'anguilla, &-ai, &-aia',
  'american-samoa, &-as, &-asm',
  'puerto-rico, &-pr, &-pri',
  'comoros, &-km, &-com',
  'north-korea, &-kp, &-prk',
  'corsica',
  'zambia, &-zm, &-zmb',
  'saint-kitts-and-nevis, &-kn, &-kna',
  'china, &-cn, &-chn',
  'luxembourg, &-lu, &-lux',
  'central-african-republic, &-cf, &-caf',
  'jamaica, &-jm, &-jam',
  'cape-verde, &-cv, &-cpv',
  'monaco, &-mc, &-mco',
  'bhutan, &-bt, &-btn',
  'paraguay, &-py, &-pry',
  'aruba, &-aw, &-abw',
  'montserrat, &-ms, &-msr',
  'latvia, &-lv, &-lva',
  'andorra, &-an, &-and',
  'micronesia, &-fm, &-fsm',
  'dominican-republic, &-do, &-dom',
  'abkhazia',
  'tunisia, &-tn, &-tun',
  'mauritania, &-mr, &-mrt',
  'cayman-islands, &-ky, &-cym',
  'kosovo',
  'ghana, &-gh, &-gha',
  'canary-islands',
  'scotland',
  'guinea-bissau, &-gw, &-gnb',
  'burundi, &-bi, &-bdi',
  'myanmar, &-burma, &-mn, &-mmr',
  'gabon, &-ga, &-gab',
  'benin, &-bj, &-ben',
  'saba-island',
  'namibia, &-na, &-nam',
  'japan, &-jp, &-jpn',
  'lithuania, &-lt, &-ltu',
  'eritrea, &-er, &-eri',
  'chad, &-td, &-tcd',
  'kenya, &-ke, &-ken',
  'djibouti, &-dj, &-dji',
  'british-indian-ocean-territory, &-io, &-iot',
  'tuvalu, &-tv, &-tuv',
  'serbia, &-rs, &-srb',
  'bonaire',
  'togo, &-tg, &-tgo',
  'kazakhstan, &-kz, &-kaz',
  'antigua-and-barbuda, &-ag, &-atg',
  'suriname, &-sr, &-sur',
  'jordan, &-jo, &-jor',
  'belize, &-bz, &-blz',
  'st-barts',
  'iceland, &-is, &-isl',
  'bermuda, &-bm, &-bmu',
  'united-nations, &-un',
  'somalia, &-so, &-som',
  'barbados, &-bb, &-brb',
  'solomon-islands, &-sb, &-slb',
  'nigeria, &-ng, &-nga',
  'aland-islands, &-ax, &-ala',
  'uruguay, &-uy, &-ury',
  'sint-maarten, &-sx, &-sxm',
  'burkina-faso, &-bf, &-bfa',
  'slovakia, &-sk, &-svk',
  'sierra-leone, &-sl, &-sle',
  'basque-country',
  'korea, &-south-korea, &-kr, &-kor',
  'pitcairn, &-pitcairn-islands, &-pn, &-pcn',
  'mozambique, &-mz, &-moz',
  'san-marino, &-sm, &-smr',
  'guatemala, &-gt, &-gtm',
  'albania, &-al, &-alb',
  'pakistan, &-pk, &-pak',
  'northern-cyprus',
  'balearic-islands',
  'marshall-islands, &-mh, &-mhl',
  'ecuador, &-ec, &-ecu',
  'cameroon, &-cm, &-cmr',
  'panama, &-pa, &-pan',
  'kuwait, &-kw, &-kwt',
  'armenia, &-am, &-arm',
  'romania, &-ro, &-rou',
  'guinea, &-gn, &-gin',
  'afghanistan, &-af, &-afg',
  'laos, &-la, &-lao',
  'greenland, &-gl, &-grl',
  'british-virgin-islands, &-vg, &-vgb',
  'hungary, &-hu, &-hun',
  'curacao, &-cw, &-cuw',
  'angola, &-ao, &-ago',
  'malasya, &-my, &-mys',
  'brunei, &-bn, &-brn',
  'bahamas, &-bs, &-bhs',
  'new-zealand, &-nz, &-nzl',
  'faroe-islands, &-fo, &-fro',
  'british-columbia',
  'the-holy-see, &-vatican-city, &-va, &-vat',
  'finland, &-fi, &-fin',
  'botswana, &-bw, &-bwa',
  'sri-lanka, &-lk, &-lka',
  'spain, &-es, &-esp',
  'ossetia',
  'sicily',
  'chile, &-cl, &-chl',
  'bosnia-and-herzegovina, &-ba, &-bih',
  'saudi-arabia, &-sa, &-sau',
  'liechtenstein, &-li, &-lie',
  'belarus, &-by, &-blr',
  'iran, &-ir, &-irn',
  'fiji, &-fj, &-fji',
  'bahrain, &-bh, &-bhr',
  'venezuela, &-ve, &-ven',
  'timor-leste, &-east-timor, &-tl, &-tls',
  'azerbaijan, &-az, &-aze',
  'tibet',
  'norway, &-no, &-nor',
  'algeria, &-dz, &-dza',
  'ukraine, &-ua, &-ukr',
  'gambia, &-gm, &-gmb',
  'bangladesh, &-bd, &-bgd',
  'madeira',
  'czechia, &-czech-republic, &-cz, &-cze',
  'bolivia, &-bo, &-bol',
  'united-arab-emirates, &-uae, &-ae, &-are',
  'kyrgyzstan, &-kg, &-kgz',
  'cuba, &-cu, &-cub',
  'eswatini, &-swaziland, &-sz, &-swz',
  'israel, &-il, &-isr',
  'costa-rica, &-cr, &-cri',
  'congo, &-cg, &-cog',
  'egypt, &-eg, &-egy',
  'cambodia, &-kh, &-khm',
  'northern-marianas-islands, &-mp, &-mnp',
  'cote-d-ivoire, &-ivory-coast, &-ci, &-civ',
  'germany, &-de, &-deu',
  'papua-new-guinea, &-pg, &-png',
  'croatia, &-hr, &-hrv',
  'belgium, &-be, &-bel',
  'morocco, &-ma, &-mar',
  'macao, &-mo, &-mac',
  'bulgaria, &-bg, &-bgr',
  'liberia, &-lr, &-lbr',
  'greece, &-gr, &-grc',
  'galapagos-islands',
  'saint-lucia, &-lc, &-lca',
  'mali, &-ml, &-mli',
  'denmark, &-dk, &-dnk',
  'rapa-nui',
  'lesotho, &-ls, &-lso',
  'colombia, &-co, &-col',
  'palau, &-pw, &-plw',
  'ireland, &-ie, &-irl',
  'french-polynesia, &-pf, &-pyf',
  'trinidad-and-tobago, &-tt, &-tto',
  'niue, &-nu, &-niu',
  'hong-kong, &-hk, &-hkg',
  'sweden, &-se, &-swe',
  'haiti, &-ht, &-hti',
  'dominica, &-dm, &-dma',
  'vanuatu, &-vu, &-vut',
  'peru, &-pe, &-per',
  'equatorial-guinea, &-gq, &-gnq',
  'uzbekistn, &-uz, &-uzb',
  'tonga, &-to, &-ton',
  'philippines, &-ph, &-phl',
  'norfolk-island, &-nf, &-nfk',
  'malta, &-mt, &-mlt',
  'france, &-fr, &-fra',
  'tajikistan, &-tj, &-tjk',
  'melilla',
  'argentina, &-ar, &-arg',
  'sudan, &-sd, &-sdn',
  'south-africa, &-za, &-zaf',
  'martinique, &-mq, &-mtq',
  'taiwan, &-tw, &-twn',
  'western-sahara, &-sahrawi-arab-democratic-republic, &-eh, &-esh',
  'guernsey, &-gg, &-ggy',
  'switzerland, &-ch, &-che',
  'rwanda, &-rw, &-rwa',
  'guam, &-gu, &-gum',
  'palestine, &-ps, &-pse',
  'indonesia, &-id, &-idn',
  'grenada, &-gd, &-grd',
  'poland, &-pl, &-pol',
  'moldova, &-md, &-mda',
  'gibraltar, &-gi, &-gib',
  'malawi, &-mw, &-mwi',
  'falkland-islands, &-malvinas, &-fk, &-flk',
  'england',
  'virgin-islands, &-vi, &-vir',
  'turkey, &-tr, &-tur',
  'isle-of-man, &-im, &-imn',
  'vietnam, &-viet-nam, &-vn, &-vnm',
  'united-states-of-america, &-us, &-usa',
  'niger, &-ne, &-ner',
  'turks-and-caicos-islands, &-tc, &-tca',
  'portugal, &-pt, &-prt',
  'maldives, &-mv, &-mdv',
  'senegal, &-sn, &-sen',
  'nauru, &-nr, &-nru',
  'turkmenistan, &-tm, &-tkm',
  'singapore, &-sg, &-sgp',
  'libya, &-ly, &-lby',
  'yemen, &-ye, &-yem',
  'transnistria',
  'australia, &-au, &-aus',
  'tokelau, &-tk, &-tkl',
  'macedonia, &-north-macedonia, &-mk, &-mkd',
  'netherlands, &-nl, &-nld',
  'thailand, &-th, &-tha',
  'montenegro, &-me, &-mne',
  'azores-islands',
  'st-vincent-and-the-grenadines',
  'madagascar, &-mg, &-mdg',
  'canada, &-ca, &-can',
  'south-sudan, &-ss, &-ssd',
  'jersey, &-je, &-jey',
  'india, &-in, &-ind',
  'somaliland',
  'russia, &-ru, &-rus',
  'democratic-republic-of-congo, &-cd, &-cod',
  'sint-eustatius',
  'samoa, &-ws, &-wsm',
  'mexico, &-mx, &-mex',
  'seychelles, &-sc, &-syc',
  'nato',
  'brazil, &-br, &-bra',
  'georgia, &-ge, &-geo',
  'sardinia',
  'mongolia, &-mn, &-mng',
  'european-union, &-eu',
  'great-britain, &-united-kingdom, &-uk, &-gb, &-gbr',
  'kiribati, &-ki, &-kir',
  'hawaii',
  'chinese-taipei',
  'northern-ireland',
  'qatar, &-qa, &-qat',
  'world',
  'africa',
  'north-america',
  'south-america',
  'australia-and-oceania',
  'europe',
  'asia'
);

.flag {
  background: map-get($flag, 'background') url('flags.png') no-repeat ($flags-image-width * -1) ($flags-image-height * -1);
  background-size: $flags-image-width $flags-image-height;
  display: inline-block;
  height: map-get($flag, 'height');
  width: map-get($flag, 'width');

  @for $i from 1 through length($flags) {
    $row: 0;

    @if $i > map-get($flag, 'cols') {
      $row: (map-get($flag, 'height') * floor(($i - 1) / map-get($flag, 'cols')));
    }

    &-#{nth($flags, $i)} {
      background-position: ((map-get($flag, 'width') * (($i - 1) % map-get($flag, 'cols'))) * -1) ($row * -1);
    } // END .flag-*
  }

} // END .flag;